*
!.tmux.conf.local
!MyConfig/bashrc_func/
!.gitignore
!.config/alacritty/alacritty.yml
!MyConfig/navi_cheats/*
!.bashrc
!MyConfig/bashrc_func/conda_source/
!/home/chiebotgpuhq/.config/ibus/rime/*.yaml
